services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cookit_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cookit-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379" 
    volumes:
      - redis_data:/data
    networks:
      - cookit-network

  cookit:
    build:
      context: .
    ports:
      - "3333:3333"
    environment:
      LOG_LEVEL: info
      HOST: 0.0.0.0

      APP_KEY: ${APP_KEY}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}

      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: cookit_db

      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    volumes:
      # images for specific use in app, if need be
      - dev_static_data:/vol/web
      # recipe img
      - cookit_images:/app/uploads/recipes
    networks:
      - cookit-network

volumes:
  dev_static_data:
  cookit_images: 
  postgres_data:
  redis_data:

networks:
  cookit-network:
